body 
{
    background-color: #0f121f;
    background-image: url(tlo.jpg);
    color: rgb(0, 0, 87);
}

a, a:hover, a:visited ,a:link
{

    color: rgb(0, 0, 0);
    text-decoration: none;
}

h4
{
    
    color: rgb(5, 2, 2);
    text-decoration: none;
}
#container 
{ 
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}
#logo 
{
    background-image: url(logo2.jpg);
    color:black;
    text-align: left;
    font-size: 44px;
    margin-top:10px;
    height: 150px;
}
#menu 
{
    
    background-color: rgb(219, 3, 3);
    color: whitesmoke;
    
    padding: 10px;
}

#topbar 
{
    color: rgb(0, 10, 54);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 60px;
}

#topbarL 
{   
    background-image: url(logo.png);
    float: left;
    padding: 20px;
    width: 100px;
    height: 118px;
    text-align: center;
    margin-left: 20px;
  
}

#topbarR
{
    color: rgb(0, 15, 82);
    float: left;
    padding: 20px;
    width: 760px;
    font-size: 16px;

    text-align:center;
}

#sidebar 
{
    
    float: left;
    width: 160px;
    min-height: 620px;
    padding: 20px;
    text-align: center;
    font-size: 18px;

}

#content 
{
    color: rgb(44, 0, 0);
    float:left;
    width: 725px;
    text-align: justify;
    min-height: 580px;
    text-align: center;
}
#footer
{
    clear:both;
    color:rgb(0, 0, 0);
    padding: 20px;
    font-size: 10px;
}
.option
{
    float:left;
    min-width:150px;
    height:25px;
    font-size:18px;
    border-right:2px dotted #444444;
    opacity:0.8;
    text-align:center;
}
.option:hover
{
    background-color: red;
    cursor: pointer
}
.optionL
{
    height:50px;
    font-size:18px;
    border-bottom:2px dotted #a00000;
    text-align: center;
    width: 140px;
    color: rgb(17, 15, 15);
}
.optionL:hover
{

    background-color: rgb(240, 16, 16);
    cursor: pointer;
    color: rgb(5, 0, 73);
}


.bigtitle
{
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
}

.dottedline
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
    border-bottom: 2px dotted #444444;
}