{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Arsenal</title>
        <meta name="description" content="Klub Arsenal Londyn.Jeden z najlepszym zespołów angielskiej piłki nożnej."/>
        <meta name="keywords" content="Arsenal,Londyn,Angielski klub,piłka nożna"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="author" content="Piotr Niedbala"/>
        <link rel="stylesheet" href="{% static 'style.css'%}" type="text/css"/>
        <link href="http://fonts.googleapis.com/css?family=Lato:400,900&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    </head>
    <body>  
        <div id="container">
        
            <div id="logo">
                <a href="http://127.0.0.1:8000/" target="_blank"></a>
            </div>
            <div id="menu">
                <div class="option"><a href="http://127.0.0.1:8000/">Strona Główna</a></div>
                <div class="option"><a href="http://127.0.0.1:8000/historia">Historia</a></div>
                <div class="option"><a href="http://127.0.0.1:8000/kadra">Kadra</a></div>
                <div class="option"><a href="http://127.0.0.1:8000/stadion/">Stadion</a></div>
                <div class="option"><a href="http://127.0.0.1:8000/kontakt/">Kontakt</a></div>
                <div style="clear:both;"></div>
            </div>
            <div id="topbar">
			    <div id="topbarL">
				    
			    </div>
			    <div id="topbarR">
				    <span class="bigtitle">Kanonierzy</span>
				    <div style="height: 15px;"></div>
				    angielski klub piłkarski z siedzibą w północnym Londynie, w dzielnicy Holloway. Jest jedną z najbardziej utytułowanych angielskich drużyn, 13-krotnym mistrzem kraju, 13-krotnym zdobywcą Pucharu Anglii i najdłużej utrzymującym się w najwyższej klasie rozgrywkowej zespołem w Anglii – od 1919 roku.
			    </div>
			    <div style="clear:both;"></div>
		    </div>
            
            <div id="sidebar">
			    <div class="optionL"><a href="http://127.0.0.1:8000/">Strona Główna</a></div>
                <div class="optionL"><a href="http://127.0.0.1:8000/historia">Historia</a></div>
                <div class="optionL"><a href="http://127.0.0.1:8000/kadra">Kadra</a></div>
                <div class="optionL"><a href="http://127.0.0.1:8000/stadion/">Stadion</a></div>
                <div class="optionL"><a href="http://127.0.0.1:8000/kontakt/">Kontakt</a></div>
                
		    </div>
            
            <div id="content">
                <div class="wrapper">
                    {% block content %}
            
                    {% endblock %}
                <br><br>

			
			    <div class="dottedline"></div>

            <div id="footer">
                author : Piotr Niedbala
            </div>
        </div>
        
    </body>
</html>
