{% extends 'baza.html' %}

        
{% block content %}

    <img src="pliki/stadion.png">
    <span class="bigtitle">Osiągnięcia Arsenalu Londyn</span>
			
	<div class="dottedline"></div>
    <h3>
        13 x mistrzostwo Anglii<br>
        13 x Puchar Anglii (rekord)<br>
        15 x Superpuchar Anglii<br>
        2 x Puchar Ligi Angielskiej<br>
        Puchar Zdobywców Pucharów (1994)<br>
        Finał Ligi Mistrzów (2006)<br>
        Finał Pucharu UEFA (2000)<br>
    </h3>


{% endblock %}

