{% extends 'baza.html' %}

        
{% block content %}

    <h1>Historia</h1>
    <h4>Arsenal został założony w 1886 roku i był pierwszym klubem z południa Anglii, który dołączył do The Football League, w 1893 roku. W latach 30. klub pięć razy był mistrzem kraju i zdobył dwa Puchary Anglii. Po II wojnie światowej klub osiągał mniej sukcesów. W sezonie 1970/1971 Arsenal zdobył dublet. Od lat 90. sześciokrotnie wygrywał rozgrywki Pucharu Anglii, oraz czterokrotnie był mistrzem Anglii. W sezonie 2003/2004 Arsenal zdobył tytuł mistrza Anglii bez żadnej porażki i został drugą drużyną, która to uczyniła (a pierwszą, która nie przegrała w 38 meczach). Dwa lata później dotarł do finału Ligi Mistrzów, w którym przegrał z FC Barcelona.

    Tradycyjnymi barwami klubu są czerwony i biały. Barwy te w historii klubu przyjmowały różne odcienie. Arsenal zmieniał także swój stadion; początkowo mieścił się on w Woolwich, w południowo-wschodnim Londynie, w 1913 roku drużyna przeniosła się na północ miasta, do Arsenal Stadium w Highbury. W 2006 roku klub przeprowadził się na Emirates Stadium położony w Holloway. 
    </h4>

    

{% endblock %}

