{% extends 'baza.html' %}

        
{% block content %}

    <h1>Kadra</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QG5ML24JkOs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <h3>Sezon 2015/2016</h3>
    <img src="https://a.allegroimg.com/s1024/0c453d/e76b96014df78899515b77a2e838" alt="Emirates Stadium" width="600" height="400">


{% endblock %}

