{% extends 'baza.html' %}

        
{% block content %}

    <h1>Stadion </h1>
    <h3>Emirates Stadium </h3>
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Emirates_Stadium_2009.jpg" alt="Emirates Stadium" width="600" height="400">
    <br>
    <h3>Stadion Highbury </h3>
    <img src="https://4.bp.blogspot.com/-8amtNWQsn1M/VzomAJvQghI/AAAAAAAAA-k/hMFh5wH2sDommchKRi5ZlMDmX_RSaUbNwCLcB/s400/gun__1357902114_highbury_pitch.jpg" alt="Emirates Stadium" width="600" height="400">

{% endblock %}

